<section class='index-page'>

  <div>
    <img class='avatar' src={{profileImg}} alt='your avatar picture' />
  </div>

  <p>Hello {{firstName}} {{lastName}} </p>

  <a href='/auth/logout'>LOGOUT</a>
</section>