@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background: #282c34;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
  text-align: center;
}

h1 {
  font-weight: lighter;
}

p {
  color: #999;
  font-size: 0.8rem;
}

a {
  color: #999;
  font-size: 0.8rem;
}

label {
  display: block;
  margin: 1rem;
}

input,
textarea {
  background: rgba(0,0,0,0.2);
  padding: 0.6rem 1rem;
  border: none;
  margin: 0 1rem;
  border-radius: 0.5rem;
  outline: none;
  color: #fff;
  font-size: inherit;
}

textarea {
  margin: 1rem auto;
  width: 400px;
  height: 200px;
  display: block;
}

button {
  background: #0064e7;
  border: none;
  border-radius: 15px;
  padding: 10px 25px;
  color: #fff;
  font-family: inherit;
  margin: 20px 10px;
  text-transform: uppercase;
  outline: none;
  transition: .2s;
  cursor: pointer;
}

.error {
  background: #fff;
  color: #000;
  border-left: 4px solid #111;
  padding: 0.9rem 0.8rem;
  margin: 1rem auto 1.5rem auto;
  display: flex;
  opacity: 1;
  font-weight: lighter;
  box-shadow: 0 0 0 rgba(0,0,0,0.2);
  max-width: 15rem;
  border-radius: 4px;
  background: #ff5d6c;
  color: #fff;
  border-color:#ea2027;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.success {
  background: #fff;
  color: #000;
  border-left: 4px solid #111;
  padding: 0.9rem 0.8rem;
  margin: 1rem auto 1.5rem auto;
  display: flex;
  opacity: 1;
  font-weight: lighter;
  box-shadow: 0 0 0 rgba(0,0,0,0.2);
  max-width: 15rem;
  border-radius: 4px;
  background: #26c281;
  color: #fff;
  border-color:#01916d;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.loginBtn {
  display: block;
  width: 250px;
  box-sizing: border-box;
  position: relative;
  margin: 0.2em auto;
  padding: 5px 20px 5px 66px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  text-transform: none;
  cursor: pointer;
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.loginBtn--google {
  background: #DD4B39;
}

.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  background-position: center;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
